body{
    background-color:black;
}


#inventory{
    width: 1000px;
    height: 60px;
    background-color: grey;
    z-index: 1;
    margin-top: 5px;
    margin: 0 auto;
    border: 1px solid silver;
}

#arena{

    margin: 0 auto;
    margin-top: 10px;
    width: 1000px;
    height: 700px;
    cursor: url(Images/reticle.png) 25 15,auto;
}

#game-canvas{
    border: 1.5px solid silver;
    transform: rotate();
}

#introText{
    
    text-align: center;
    font: 46px fantasy;
    color:  red;
}

#score{
    font: 46px fantasy;
    text-align: center;
    color: #ff0;
    text-shadow: 2px 2px 4px rgba(0, 0, 80, 1.0);
}

#fps{
    position: absolute;
    margin-top: -2em;
    z-index: 1;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(0,0, 80, 1.0);
    font: bold 20px fantasy;

    transition: opacity 5s;

    opacity: 0;
    display: none;
    z-index: 1;
    
}

